NODE_ENV=production
ROBINHOOD_POOL_LIQUIDITY_ENABLED=true

DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=volume_alert
DB_USER=REPLACE_DB_USER
DB_PASSWORD=REPLACE_DB_PASSWORD

ROBINHOOD_RPC_URL=REPLACE_ROBINHOOD_RPC_URL
ROBINHOOD_POOL_LIQUIDITY_INTERVAL_MS=10000
ROBINHOOD_POOL_LIQUIDITY_REFRESH_MS=300000
ROBINHOOD_POOL_LIQUIDITY_BATCH_SIZE=50
ROBINHOOD_POOL_LIQUIDITY_CONCURRENCY=5
